@model TestSite.ViewModels.AppFormViewModel


@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>New Product</h2>


@using (Html.BeginForm("Save", "Apps"))
{

    <div class="form-group">



        <!-- Name -->
        @Html.LabelFor(p => p.App.Name)

        @Html.TextBoxFor(p => p.App.Name, new { @class = "form-control" })



        <!-- Date Added-->
        @Html.LabelFor(p => p.App.DateAdded)

        @Html.TextBoxFor(p => p.App.DateAdded, "{0:d MMM yyyy}", new { @class = "form-control" })


        <!-- Select Product Type-->
        @Html.LabelFor(p => p.App.AppTypeId)
        @Html.DropDownListFor(p => p.App.AppTypeId, new SelectList(Model.AppTypes, "Id", "Name"), "Select App Type", new { @class = "form-control" })






    </div>

}